* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  background: rgb(213,243,255);
  background: radial-gradient(circle, rgba(213,243,255,1) 0%, rgba(81,180,232,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.App-two {
  width: 100vw;
  height: 100vh;
  background:  rgb(83, 56, 143);
  background: radial-gradient(circle, rgba(83, 56, 143) 0%, rgba(47, 41, 88) 100%);
}



